body{
    background-color: #ffe3e8;
    font-family: sans-serif;
}

body, div, header, main, p, h1, h2, h3, h4, input, a, ul, li, ol, section .material-symbols-outlined{
    margin: 0;
    padding: 0;
}
body{
    --text-color:#d33852;
    --bg-color:#ffe3e8;
    --header-color:#ff98a9;
    --pastel-color:#ffced7;
    display: flex;
    flex-direction: column;
}
/* Class lists  */
.hidden{
    display: none;
}
.appear{
    display: flex;
}

.header{
    background-color: #ff98a9;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.logo{
    width: 30px;
    height: 30px;
}
.options__list-container{
    display: flex;
    margin: auto;
    width: 350px;
    justify-content: space-around;
}
.options__list-container a{
    text-decoration: none;
    color: #d33852;
}
.options__list-container a:is(:hover,:active){
    color:#fff;
    text-decoration: underline;
}

/* Menu con checked  */
.menu__p-header{
    display: none;
    color: var(--text-color);
    position: absolute;
    right: 0;
    margin: 0px 10px;
}
.menu__p-header:is(:hover,:active){
    color: #fff;
}
.menu__checkbox{
    display: none;
}

.menu__checkbox:checked ~ .options__list-container{
    display: flex;
}
@media screen and (max-width:450px){

    .options__list-container{
        display: none;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        height: 40dvh;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--header-color);
        z-index: 10;
    }
    .menu__p-header{
        display: flex;
    }
}

/* Apartado del main  */

.main{
    display:flex;
    width: 100%;
    height: 60dvh;

}
.main__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: grayscale(50%);

}
.main__title{
    display: flex;
    position:absolute;
    color: #fff;
    font-family: monospace;
    font-size: 55px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/* Main content  */
.precio__prices{
    font-size: 35px;
    margin-top:20px;
    margin-left: 30px;
    padding: 10px;
    color: var(--text-color);
}
.main__content{
    display: flex;
    flex-direction: column;
    height: auto;
    
}
.main__content h2{
    padding: 10px;
    font-size: 35px;
    margin-left: 30px;
    color: var(--text-color);
    font-family: sans-serif;
}
.main__content-wrapper{
    display: flex;
    height: 100%;
    margin: 0px 20px 0px 20px;
    background-color: var(--pastel-color);
    box-shadow: -12px 15px 12px var(--header-color);
    border-radius: 5px 0px 0px 5px;
}
.main__tematicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    padding: 10px;
    margin-left: 30px;
    color: var(--text-color);
}
.main__images{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   width: 100%;
   height: 100%;
    
}
.cakeImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Apartado de precios de las fiestas  */

.prices__container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.prices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    

}
.price__content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: var(--text-color);
}
.price__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.price__p{
    position: absolute;
    margin:auto;
    color: #fff;
    padding: 10px;
    font-weight: 500;
}

@media screen and (max-width:450px){
    .prices{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}


/* contactos  */
.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80dvh;
    background-color: #ffced7;
}
.contacts__wrapper{
    display: flex;
    width: 100%;
}
.contacts__container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 350px;
    flex-grow: 2;
}
.contacts__container input, button{
    padding: 5px;
    border-radius: 10px;
    border: none;
}
.form__contacts{
    display: flex;
    flex-direction:column;
    flex-grow: 1;
}
.form__contacts h3{
    color: var(--text-color);
    font-size: 25px;
}
.form__contacts label{
    color: var(--text-color);
    padding: 5px;
}
.contacts__info{
    text-wrap: wrap;
    color: var(--text-color);
    flex-grow: 1;
    
    margin-left: 30px;
}
.contacts__info a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}
#message{
   flex-grow: 1;
}
@media screen and (max-width:450px){
    .contacts__wrapper{
        flex-direction: column;
    }
    .section{
        height:auto;
    }
    
}